- content_for :title do
  = t('menu.tasks')

.ui.eight.column.grid
  .column
  .ui.selection.list.twelve.wide.column
    - @tasks.each do |task|
      %a.item{ href: task_path(task) }
        %img.ui.avatar.image{ :src => task.user.avatar_url }
          .content
            .header= task.user.title
            = task.about
  .column