HTML, BODY
  height: 100%
  margin: 0
  padding: 0
.ui
  font-family: sans-serif
body
  margin: 0
.map_wrapper
  height: 500px
.task_avatar
  width: 100%
.wrapper
  min-height: 100%
  margin-bottom: -50px
.footer-padding
  padding-bottom: 50px
FOOTER
  height: 50px
  background-color: gray